#register-form{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

#register-form input[type=text]{
    width: 80%;
    display: inline-block;
    margin: 10px auto;
    font-size: 22px;
    padding: 4px;
}

#register-form input[type=password]{
    width: 80%;
    display: inline-block;
    margin: 5px auto;
    font-size: 22px;
    padding: 4px;
}

#register-form input[type=submit]{
    width: 200px;
    margin: 10px auto;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#registrationErrorInfo{
    font-size: 20px;
    color: red;
}