#subtractProduct-form{
    font-size: 20px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

#subtractProduct-form input[type=number]{
    width: 80%;
    display: inline-block;
    margin: -10px auto 10px auto;
    font-size: 22px;
    padding: 4px;
}

#subtractProduct-form input[type=submit]{
    width: 200px;
    margin: 15px auto;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#registrationErrorInfo{
    font-size: 20px;
    color: red;
}